.heading{
    font-family: "Lobster", sans-serif;
    font-size:  10vw;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#D1855C;
}

table{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

td{
    text-align: center;
    font-family: 'Poppins','sans-serif';
    color: #2D3C59;
}

h2{
    margin-top: 3rem;
}

img{
   width: 15vw;
   margin: 2rem;
}

footer,h1{
    display: flex;
    justify-content: center;   
    color: #2D3C59;
}

footer{
    font-family: 'Poppins','sans-serif';
    text-decoration: underline;
}