h1{
    font-family: "Lobster", sans-serif;
    font-size:  7vw;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#D1855C;
}

table{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

td{
    text-align: center;
    font-family: 'Poppins','sans-serif';
    color: #2D3C59;
}

h2{
    margin-top: 3rem;
}

img{
   width: 15vw;
   margin: 2rem;
}

button{
    display: block;
    margin: 2rem auto;
    background-color: #FF0000;
    width: 10rem;height: 5rem;
    border-radius: 2rem;
    border: none;
    padding: 5px;
    font-family: "Poppins",sans-serif;
    font-size: 2rem;
    color: #000080;
    font-weight:bolder;
    cursor: pointer;
}

button:hover{
    background-color:cornsilk;
    transition-duration: 0.5s;
}

footer,h1{
    display: flex;
    justify-content: center;   
    color: #2D3C59;
}

footer{
    font-family: 'Poppins','sans-serif';
    text-decoration: underline;
    margin-bottom: 2rem;
}
